/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
    .jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

body {
    position: relative;
}

#section1 {
    padding-top: 50px;
    color: #fff;
    background-color: #1E88E5;
}

#section2 {
    padding-top: 50px;
    color: #fff;
    background-color: #26A69A;
}

#section3 {
    padding-top: 50px;
    color: #fff;
    background-color: #475BCC;
}

#section41 {
    padding-top: 50px;
    color: #fff;
    background-color: #00bcd4;
}

#section42 {
    padding-top: 50px;
    height: 500px;
    color: #fff;
    background-color: #009688;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info{
    font-size: 1.5em;
}
.detail{
    font-size: 2.5em;
    font-weight: bold;
    color: mediumseagreen;
}

.massive-font-large{
font-size: 30px;
text-align: center;
}
  
.progress-large{
height:50px;
text-align:center;
}

.progress-bar-large {
  padding:.5em;
}

.medium{
    width:80%;
    margin: auto;
}
.medium p {
    font-size: 1.5em;
}

.control-label, .modal-title{
    color: black;
}

small {
    color:black;
}

.black-text{
    color: black;
}

tbody{
    text-align: left;
}

tbody tr:hover td{
    background-color: #009688;
}